@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
body{
    @font-face {
    font-family: 'SchoolSafetyWing';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimNalgaeR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
}
/*pc기본*/
html{
    font-size: 16px;
}
@media all and (max-width:768px) {
    html{
        font-size: 12px;
    }
}